<!--
This file is part of Duolex.

Duolex is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Duolex is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Duolex.  If not, see <http://www.gnu.org/licenses/>.
-->

/*----------------------------------------------
CSS Settings For Login Page
------------------------------------------------*/
#main {
width:60%;
padding: 10px;
margin: auto;
font-family:"Calibri Light";
}
span {
color:red
}
h2 {
font-family:"Calibri Light";
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
hr {
border:0;
margin:10px -40px;
margin-bottom:30px
}
#login {
width:60%;
padding: 10px;
margin: auto;
width:300px;
float:left;
padding:10px 40px 25px;
margin-top:70px;
background-color:#FEFFED;
font-family:"Calibri Light";

}
input[type=text],input[type=password] {
width:99.5%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway;
font-family:"Calibri Light";
}
input[type=submit] {
width:99.5%;
margin-left: auto;
margin-right: auto;
background-color:#FEFFED;
color:#000000;
border:2px solid #D3D3D3;
padding:8px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top:15px;
margin-bottom:15px;
font-family:"Calibri Light";
}
#profile {
padding:50px;
border:1px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}
#logout {
float:right;
padding:5px;
border:dashed 1px gray
}
a {
text-decoration:none;
color:#6495ed
}
i {
color:#6495ed
}